<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--<filter>-->
        <!--<filter-name>demo1</filter-name>-->
        <!--<filter-class>FilterDemo1</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>demo1</filter-name>-->
        <!--<url-pattern>-->
        <!--&lt;!&ndash;拦截路径&ndash;&gt;-->
            <!--/*-->
        <!--</url-pattern>-->
    <!--</filter-mapping>-->

    <!--&lt;!&ndash;配置监听器&ndash;&gt;-->
    <!--<listener>-->
        <!--<listener-class>com.bingai.web.listener.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <!--指定初始化参数-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
    </context-param>


</web-app>
