<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--不拦截页面-->
    <http pattern="/login.html" security="none"></http>
    <http pattern="/login_error.html" security="none"></http>

    <!--页面的拦截规则-->
    <http>
        <!--所有资源必须有ROLE_ADMIN角色才可以访问-->
        <intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"></intercept-url>
        <!--让当前的工程实现表单登录-->
        <form-login login-page="/login.html" default-target-url="/index.html" authentication-failure-url="/login_error.html"></form-login>
        <!--退出登录-->
        <logout></logout>

        <!--关闭csrf验证  跨站请求伪造 token-->
        <csrf disabled="true"></csrf>
    </http>

    <!--认证管理器-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailService">
            <password-encoder ref="bcryptEncoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="userDetailService" class="com.bingai.demo.UserDetailServiceImpl"></beans:bean>
    <beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></beans:bean>



</beans:beans>